@font-face {
    font-family: 'Gentona';
    src: url('gentona/Gentona-Book.woff2') format('woff2'), url('../gentona/Gentona-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona--bold';
    src: url('gentona/Gentona-Bold.woff2') format('woff2'), url('../gentona/Gentona-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona-italic';
    src: url('gentona/Gentona-BookItalic.woff2') format('woff2'), url('../gentona/Gentona-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
